.SessionsBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:10px;
  padding-bottom:10px;
  flex-direction: column;
}
.SessionItem {
  border-radius: 5px;
  border-color:#5cc693;
  border-width: thin;
  border-style: solid;
  padding-top:10px;
  padding-bottom: 10px;
  margin-bottom: 8px;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
}
.SessionItemFirst {
  align-items: center;
  justify-content: space-evenly;
  flex:70%;
}
.SessionItemSecond {
  flex:30%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  display: flex;
}
.CommandBar {
  text-align: center;
}
