* {
  font-family: 'Ubuntu', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #5cc693;
  padding: 20px;
  padding-top: 50px;
  color: white;
}
.App-Content {
  padding-top: 25px;
}
.App-intro {
  font-size: large;
}

button {
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #5cc693;
  color: #fff;
  border: 0;
  border-radius: 6px;
  outline: none;
}

button:hover {
  background-color: #459970;
}

button.big {
  font-size: 30px;
  font-weight: 300;
}

.marginTop {
  margin-top: 20px;
}